@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="logo-name">
        <i class="fa fa-calendar"></i>
    </h1>
    <h1 class="display-5">Welcome to the Student Agenda!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-success">Click Here to Login</a>
</div>
