@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="logo-name">
        <img class="circle-border" src="/images/Staj4.png">
    </h1>
    <h1 style="color: white">Welcome to the Student Agenda! </h1>

    <h3 style="color: white">The perfect place to keep track of due dates for recent assignments and much more!</h3>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-danger">Click Here to Login</a>
        <a asp-controller="AboutUs" asp-action="Index" class="btn btn-danger">About Us</a>
</div>
