@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="logo-name">
       <img src ="~/images/Staj4.png" />
    </h1>
    <h1 class="display-5">Welcome to the Student Agenda!</h1>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-success">Click Here to Login</a>
</div>
