@model ADSBackend.Models.AddAssignment2

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AddAssignment2</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Class2" class="control-label"></label>
                <input asp-for="Class2" class="form-control" />
                <span asp-validation-for="Class2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event2" class="control-label"></label>
                <input asp-for="Event2" class="form-control" />
                <span asp-validation-for="Event2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty2" class="control-label"></label>
                <input asp-for="Difficulty2" class="form-control" />
                <span asp-validation-for="Difficulty2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Materials2" class="control-label"></label>
                <input asp-for="Materials2" class="form-control" />
                <span asp-validation-for="Materials2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description2" class="control-label"></label>
                <input asp-for="Description2" class="form-control" />
                <span asp-validation-for="Description2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeNeeded2" class="control-label"></label>
                <input asp-for="timeNeeded2" class="form-control" />
                <span asp-validation-for="timeNeeded2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOfEvent2" class="control-label"></label>
                <input asp-for="dateOfEvent2" class="form-control" />
                <span asp-validation-for="dateOfEvent2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateChoice" class="control-label"></label>
                <input asp-for="dateChoice" class="form-control" />
                <span asp-validation-for="dateChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeChoice" class="control-label"></label>
                <input asp-for="timeChoice" class="form-control" />
                <span asp-validation-for="timeChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
