@model IEnumerable<ADSBackend.Models.AboutUs>

@{
    ViewData["Title"] = "Index";
}
<div class="ibox">
    <div class="ibox-title">
        <h2>About Us!</h2>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>
<div class="ibox">
    <div class="ibox-title">

        <p> DTR (Dev Team Rubick) is a proud indie development team headed by Esteban Martinez. We're a small group, with view resources in finance and equipment, but all the determination in the world. </p>
        
        <p> Together, with the support from our community, we pulled through to create the Student Agenda app. It is a testament to the dedication behind each and every member of DTR. Below this paragraph is a list of Dev Team Rubick’s members, and their roles in developing the Student Agenda app. </p>

          <p> Esteban Martinez - Scrum master, Back End supervisor, Back End engineer </p>
            <img src="~/images/Esteban.jpg" height="200"/>
          <p>  Timothy Coldberg - Front End Supervisor, Front End Engineer </p>
            <img src="~/images/Timothy.jpg" height="200"/>
          <p>  Chester Soto - Front End Engineer </p>
            <img src="~/images/Chet.jpg" height="200"/>

          <p>  Jake Newman - Back End Engineer </p>
          

    </div>
</div>

<a asp-controller="Home" asp-action="Index" class="btn btn-success">Back to Home</a>
