@model ADSBackend.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="ibox">
    <div class="ibox-title">
        <h2>@Model.User.FullName's Dashboard</h2>
    </div>
    <div class="ibox-content">
        <p>Some status info here.</p>
        <a href="#" class="btn btn-success">
            <span class="fa fa-envelope"></span> Send a Message
        </a>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <!--col-lg-3 determines the layout of the page, as in actual positing, try changing the number to see other options. It basically works like a grid.-->
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Environment</h3>
                </div>
                <div class="ibox-content">
                    <p>Some stuff about the planet here.</p>
                    <a href="#" class="btn btn-primary">
                        <!--this is a comment, stuff in quotes is existing things that you make appear.-->
                        <span class="fa fa-recycle"></span> Reduce, Reuse, and Recycle
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <!--You see this code about ibox, iboxs are the boxes you see that are holding text!-->
                <div class="ibox-title">
                    <!--The text in between the carrots repersents attributes about whats inside, and my account is just string.-->
                    <h5>My Account</h5>
                </div>
                <!--As you can see there are specific things you type to determine where your text and such will appear, this is shown bellow with the command of "ibox content"-->
                <div class="ibox-content">
                    <p>It's how you log in!</p>
                    <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-user-circle-o"></span> Manage Account
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Configuration</h5>
                </div>
                <div class="ibox-content">
                    <p>Configuration stuff here.</p>
                    <a asp-controller="Configuration" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-cog"></span> Update Configuration
                    </a>
                </div>
            </div>
        </div>
        <!--this is an example!-->
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Options</h5>
                </div>
                <div class="ibox-content">
                    <p>Here you can edit your options for the backened!</p>
                </div>
            </div>
        </div>
    </div>

}

@if (User.IsInRole("User"))
{
    <!--Average user - Username: admin1 Password: Password123! Name: Billy Bob-->
    <!--Currently this is the same as admin, except it can't manage users. Log into this one and make changes to affect user experience.-->
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Environments</h5>
                </div>
                <div class="ibox-content">
                    <p>Some stuff about the planet here.</p>
                    <a href="#" class="btn btn-primary">
                        <span class="fa fa-recycle"></span> Reduce, Reuse, and Recycle
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>My Account</h5>
                </div>
                <div class="ibox-content">
                    <p>It's how you log in!</p>
                    <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-user-circle-o"></span> Manage Account
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Configuration</h5>
                </div>
                <div class="ibox-content">
                    <p>Configuration stuff here.</p>
                    <a asp-controller="Configuration" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-cog"></span> Update Configuration
                    </a>
                </div>
            </div>
        </div>
    </div>
}