@model ADSBackend.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="ibox">
    <div class="ibox-title">
        <h2>@Model.User.FullName's Dashboard</h2>
    </div>

</div>

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Assignments</h5>
                </div>

                <div class="ibox-content">
                    <p>View and add your assignments here.</p>
                    <div class="ibox-content inspinia-timeline">

                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-file"></i>
                                    Due Friday at 11:59 PM
                                    <br>
                                </div>
                                <div class="col content no-top-border">
                                    <p class="m-b-xs"><strong>Math</strong></p>

                                    <p>
                                        Geometry worksheet, both sides.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-file"></i>
                                    Due tommorow at 11:59 PM
                                    <br>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>Chemistry</strong></p>
                                    <p>Powerpoint to present to the class.</p>

                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-phone"></i>
                                    Meeting at 5:00 PM
                                    <br>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>Zoom Meeting with Rubick</strong></p>
                                    <p>
                                        Discuss our plans for the Student Agenda app and our changes to the code.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-file"></i>
                                    Due next Monday at 11:59 PM
                                    <br>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>History</strong></p>
                                    <p>
                                        Watch movie on Netflix and then answer questions about it via the worksheet.
                                    </p>
                                    <div class="col-4 date">

                                        <i class="fa fa-file"></i>
                                        Due next Monday at 11:59 PM
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <a asp-controller="Assignments" class="btn btn-default">

                        <span class="fa fa-search"></span> View All Assignments


                    </a>
                </div>
            </div>
        </div>
        <div class="gray-bg"></div>

        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>My Account</h5>
                </div>
                <div class="ibox-content">
                    <p>It's how you log in!</p>
                    <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-user-circle-o"></span> Manage Account
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Configuration</h5>
                </div>
                <div class="ibox-content">
                    <p>Configuration stuff here.</p>
                    <a asp-controller="Configuration" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-cog"></span> Update Configuration
                    </a>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Notes</h5>
                </div>
                <div class="ibox-content">
                    <p>Add and edit your notes here!</p>
                    <a asp-controller="UserNotes" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-pencil"></span> Notes
                    </a>
                </div>
            </div>

        </div>
    </div>
}
@if (User.IsInRole("User"))
{
    //Username is user1@gmail.com, Password is studentagenda123

    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Assignments</h5>
                </div>

                <div class="ibox-content">
                    <p>View and add your assignments here.</p>
                    <div class="ibox-content inspinia-timeline">

                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-file"></i>
                                    Due Friday at 11:59 PM
                                    <br>
                                </div>
                                <div class="col content no-top-border">
                                    <p class="m-b-xs"><strong>Math</strong></p>

                                    <p>
                                        Geometry worksheet, both sides.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-file"></i>
                                    Due tommorow at 11:59 PM
                                    <br>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>Chemistry</strong></p>
                                    <p>Powerpoint to present to the class.</p>

                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-phone"></i>
                                    Meeting at 5:00 PM
                                    <br>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>Zoom Meeting with Rubick</strong></p>
                                    <p>
                                        Discuss our plans for the Student Agenda app and our changes to the code.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-file"></i>
                                    Due next Monday at 11:59 PM
                                    <br>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>History</strong></p>
                                    <p>
                                        Watch movie on Netflix and then answer questions about it via the worksheet.
                                    </p>
                                    <div class="col-4 date">

                                        <i class="fa fa-file"></i>
                                        Due next Monday at 11:59 PM
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <a asp-controller="Assignments" class="btn btn-primary">
                        <span class="fa fa-search"></span> View All Assignments


                    </a>
                </div>
            </div>
        </div>
        <div class="gray-bg"></div>

        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>My Account</h5>
                </div>
                <div class="ibox-content">
                    <p>It's how you log in!</p>
                    <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-user-circle-o"></span> Manage Account
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Notes</h5>
                </div>
                <div class="ibox-content">
                    <p>Add and edit your notes here!</p>
                    <a asp-controller="UserNotes" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-pencil"></span> Notes
                    </a>
                </div>
            </div>
        </div>
    </div>

}


